* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.container {

    display: flex;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease; 
}


.left-panel {

    background-color: #394867;
    flex: 0.2; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    transition: flex 0.5s ease; 
    overflow: hidden;
}

.profile-container {
    text-align: center;
    cursor: pointer;
    margin-top: 20px; 
}

.profile-pic {

    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: width 0.5s ease, height 0.5s ease; 
    object-fit: cover;
    border: 4px solid white;
}

.profile-name {

    color: white;
    margin-top: 10px;
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
    font-size: 16px;
    transform: translateY(10px);
}

.left-panel.expanded {
    flex: 0.3; 
 }


.left-panel.expanded .profile-pic {
    width: 150px;
    height: 150px;
}

.left-panel.expanded .profile-name {

    opacity: 1;
    transform: translateY(0);
}

.profile-name{

}

.feed-section {
    flex: 1;
    background-color: #9BA4B5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
}

.feed {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.right-panel {
    background-color: #394867;
    flex: 0.1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: flex 0.5s ease; 
    overflow: hidden; 
}

.right-panel.expanded {
    flex: 0.3; 
    align-items: flex-start; 
}

.icon {
    margin: 15px 0; 
    cursor: pointer;
    text-align: left; 
    transition: transform 0.3s ease;
}

.icon img {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
}

.icon-label {

    color: white;
    display: none;
}

.right-panel.expanded .icon-label {
    display: inline-block; 
    margin-left: 10px;
}

.right-panel.expanded .icon img {
    display: inline-block; 
    margin-left: 50px;
}

.icon:hover {
    mix-blend-mode:multiply;
    transform: scale(1.1); 
}

.icon#book:hover img {
    content: url('icons/book.gif'); 
}

.icon#chat:hover img {
    content: url('icons/group.gif');
}

.icon#professor:hover img {
    content: url('icons/professor.gif');
}

.icon#tasks:hover img {
    content: url('icons/tasks.gif');
}

.icon#files:hover img {
    content: url('icons/folder.gif');
}

@media (max-width: 700px) {
    .left-panel {
        flex: 0.3;
    }
    .right-panel {
        flex: 0.2;
    }
}

@media (max-width: 480px) {
    .profile-name {
        font-size: 14px;
    }
    .icon img {
        width: 40px; 
        height: 40px; 
    }
}