html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    background: #3b4465; 
}

.container {
    position: fixed; 
    top: 50%; 
    right: 0; 
    width: auto; 
    max-width: 700px; 
    transform: translateY(-50%); 
    color: white; 
    transition: transform 0.1s ease; 
    display: flex; 
}

.sidebar {
    background: #4a5577; 
    width: 250px; 
    padding: 20px; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); 
}

.button-container {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 20px; 
}

.tab {
    padding: 10px; 
    background: #575d7a; 
    cursor: pointer;
    text-align: center;
    border-radius: 5px; 
    margin-bottom: 5px; 
    transition: background 0.3s;
}

.tab:hover {
    background: #4e546c;
}

.tab.active {
    background: #3e4455;
}

.chat-list {
    display: none; 
    background: #4a5577; 
    padding: 15px; 
    border-radius: 5px;
}

.chat-list ul {
    list-style-type: none; 
    padding: 0; 
}

.chat-list li {
    margin-bottom: 10px; 
    display: flex; 
    align-items: center;
}

.chat-list img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px;
}


.content {
    flex-grow: 1; 
    padding: 20px; 
}
