body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1F6F9;
}
.chat-container {
    display: flex;
    height: 100vh;
}
.sidebar {
    flex: 1;
    background-color: #212A3E;
    color: #F1F6F9;
    padding: 20px;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #394867;
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.tab.active {
    background-color: #9BA4B5;
}
.tab:hover {
    background-color: #394867;
}
.chat-list {
    margin-bottom: 20px;
}
.chat-list h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.chat-list ul {
    list-style: none;
    padding: 0;
}
.chat-list li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #394867;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.chat-list li:hover {
    background-color: #9BA4B5;
}
.chat-list img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-list span {
    color: #F1F6F9;
    font-weight: bold;
}
.chat-content {
    flex: 3;
    background-color: #F1F6F9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#chat-header {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #212A3E;
}
.chat-box {
    flex-grow: 1;
    background-color: #9BA4B5;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.chat-box p {
    background-color: #394867;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
}
.sender {
    font-weight: bold;
}
.timestamp {
    font-size: small;
    color: gray;
}
#message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#message-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#message-form button {
    padding: 10px 20px;
    background-color: #394867;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#message-form button:hover {
    background-color: #212A3E;
}
#privateChat, #groupChat {
    display: none;
}
#privateChat.active, #groupChat.active {
    display: block;
}
